<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>Social</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="author" content="Happyface" />
</head>
<body>
    <header>
        <h1>Social</h1>
    </header>
    <main>
        <fieldset>
            <legend>Create Account</legend>
            <form action="/user/create" method="post">
                {{ if .UsernameError }}
                <p class="error_message">
                    INVALID USERNAME:<br />
                    *Allowed characters: a-z, A-Z, 0-9, _<br />
                    *Length Paramters: 5-36 characters long
                </p>
                {{ end }}
                <p>
                    <label for="Username">Username: </label>
                    <input type="text" name="Username" id="Username" required />
                </p>
                {{ if .PasswordError }}
                <br />
                <p class="error_message">
                    INVALID PASSWORD:<br />
                    *Length Paramters: 5-36 characters long
                </p>
                {{ end }}
                <p>
                    <label for="Password">Password: </label>
                    <input type="password" name="Password" id="Password" required />
                </p>
                <input type="submit" value=" Submit " />
            </form>
        </fieldset>
        <p>Or... <a href="/login">Login</a></p>
    </main>
    <footer>
        <p>&copy; Happyface</p>
    </footer>
</body>
</html>