<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" type="text/css" />
    <title>Social</title>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="robots" content="noindex" />
    <meta http-equiv="pragma" content="no-cache" />
    <meta http-equiv="author" content="Happyface" />
</head>
<body>
    <header>
        <h1>Social</h1>
    </header>
    <main class="profile">
        <div class="sidebar">
            
        </div>
    </main>
    <footer>
        <p>&copy; Happyface</p>
    </footer>
</body>
</html>